name: Get Flag
on: [push]
jobs:
  get-flag:
    runs-on: ubuntu-latest
    steps:
      - name: Download flag in chunks
        run: |
          offset=0
          while true; do
            chunk=$(curl -s -r $offset-$((offset+10000)) http://chals.magpiectf.ca:9011/flag | wc -c)
            echo "Got $chunk bytes at offset $offset"
            curl -s -r $offset-$((offset+10000)) http://chals.magpiectf.ca:9011/flag >> flag.file
            offset=$((offset+10000))
            if [ $chunk -lt 10000 ]; then break; fi
          done
          wc -c flag.file
          sha256sum flag.file
          
          # This will print the contents directly to the GitHub Actions logs
          echo "--- CONTENTS OF FLAG.FILE ---"
          cat flag.file

      # This will save the file so you can download it from the Actions Summary page
      - name: Upload flag artifact
        uses: actions/upload-artifact@v4
        with:
          name: downloaded-flag
          path: flag.file
